*{ box-sizing: border-box; 
    

}

.container-fluid {
    display: flex;
    align-items: end;
    justify-content: center;
}

/* On screens, If the screen is smaller than 800px, instead of four images per row there should be two*/


@media screen and (max-width: 800px) {
    .row {
      flex-direction: column;
    }
    img {
      min-width: fit-content;
    }
  }
  
  /* On screens, if the screen is smaller than 600px, the two images per row should become one image per row. */
  @media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
    img {
      max-width: min-content;
    }
    }