/* --- Google fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* { 
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #9e66ee;
  --light: #eee;
  --dark: #212121;
  --secondary: #f3f2ab;
  --bootstraplight: #f8f9fa;
}

body {
  background-color: var(--dark);
}

/* --- Navigation bar --- */
header {
  display: grid;
  grid-row: 1 / 2;
}
.nav-wrapper { 
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--dark);
  padding: 16px 32px;
  border-bottom: 3px solid var(--primary);
}

h1 { 
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  background: linear-gradient(0deg, rgb(238, 238, 238) 24.5%, rgb(240, 173, 78)90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 5px 20px 0 0;
}

.dropdown {
  display: none;
}

.hamburger {
  display: block;
  position: relative;
  z-index: 1;

  user-select: none;

  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 33px;
  height: 4px; 
  margin-bottom: 5px; 
  position: relative;

  background-color: var(--light);
  border-radius: 6px;
  z-index: 1;

  transform-origin: 0 0;

  transition: 0.4s;
}

.hamburger:hover span:nth-child(2){
  transform: translateX(10px);
  background-color: var(--primary);
}

.hamburger.is-active span:nth-child(1){
  transform: translate(0px, -3px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2){
  opacity: 0;
  transform: translateX(-2px);
}

.hamburger.is-active span:nth-child(3){
  transform: translate(-3px, 2px) rotate(-45deg);
}

.hamburger.is-active:hover span {
  background-color: var(--primary);
}

.menu {
  display: none;
  flex: 1 1 0%;
  justify-content: flex-start;
  margin: 0 -8x; 
}

.dropdown-item {
  color: #000;
  font-size: 14px;
  margin: 0 auto;
  text-decoration: none;
  transition: 0.4s;
  padding: 4px 10px;
}

.menu a.is-active,
.menu a:hover {
  background-color: var(--primary);
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
  }

  .form-inline {
    display: flex;
  }
}

@media (max-width: 767px) {
  .form-inline {
    display: none;
    transition: 0.4s ease-out;
  }

  .dropdown{
    display: none;
    transition: 0.4s ease-out;
  }
}

/* --- Neon Team Name --- */

.team-name {
  margin: 4.5em 0 0 8px;
  display: flex; 
  justify-content: space-between;
}
.team-name a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #af63ee;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  font-size: 15px;
  overflow: hidden;
  transition: 0.2s;
}

.team-name a:hover {
  text-decoration: none;
  color: #fffb00;
  background: #af63ee;
  box-shadow: 0 0 10px #af63ee, 0 0 40px #af63ee, 0 0 80px #af63ee;
  transition-delay: 0.5s;
}

.team-name a span {
  position: absolute;
  display: block;
}

.team-name a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #af63ee);
}


.team-name a:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.team-name a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #af63ee);
}

.team-name a:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.13s;
}

.team-name a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #af63ee);
}

.team-name a:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.21s;
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #af63ee);
}

a:hover span:nth-child(4) {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.37s;
}


/* --- Task 5: Date display Button --- */

.timezone {
  margin: 8em 0 0 3em;
}

#time-display{
  text-align: center;
  color: #000;
  letter-spacing:2px;
  font-size: 12px;
  font-weight: 600;
  padding:5px;
  color: var(--primary);
  border-radius:30px;
  transition: 0.3s ease;
}

#date-display{
  color: var(--light);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  padding:5px;
  letter-spacing: 3px;
  transition: 0.3s ease;
}

/* --- Clear Completed task Button --- */

.clear-btn {
  margin-right: 2em;
  color: var(--light);
  background-color: var(--primary);
  outline: none;
  border: none;
  padding: 6px 20px;
  border-radius: 2.5rem;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s ease;
  display: none;
}

@media (max-width: 767px) {
  .clear-btn {
    display: none;
  }


}

/* --- Main Content --- */

main {
  height: 90vh;
}

.todo-container {
  display: flex; 
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  margin: 1rem;
  white-space: nowrap;
}

.status {
  width: 24em;
  margin-left: 0.5em;
  transition: 0.3s ease;
}

/* --- Task Card Heading Background --- */

#to-do {
  background: rgba(252,70,161,1);
}

#inProgress {
  background: #94bbe9;
}

#review {
  background: #f1c812;
}

#done {
  background: #acde83e6;
}

#title {
  color: #fff;
}

#add_btn {
  padding: 0.5rem 1rem;
  background-color: rgb(46, 43, 43);
  outline: none;
  border: none;
  width: 100%;
  font-size: 1.5rem;
  margin: 0.5rem 0;
  border-radius: 4px;
  cursor: pointer;
}

#add_btn:hover {
  background-color: #aaa;
}


.done-button,
.edit-button,
.delete-button {
  font-size: 11px;
  border-radius: 3em;
  padding: 1px 1.5em;
}

@media (max-width: 815px) {
  .todo-container {
    display: grid;
    justify-content: center;
    grid-gap: 20px;
    object-fit: contain;
  }
}

@media (max-width: 1600px) and (min-width: 1200px) {
  .todo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
}

/* --- Main Content: Rendered Cards --- */
li {
  list-style-type: none;
  justify-content: start;
}

.list-group {
	max-width: 400x;
	transition: 0.3s;
}